html, body {
    height: 100%;
    width: 100%;
    background-color: #d1edf2
  }
img {
    border: 5px solid #555;
  }
html, body {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  P, h1, h2, h3 { 
    text-align: center 
}
ul li { 
    text-align:center; list-style-position:inside; 
}
.center {
    width: 50%;
    margin-left: auto;
    display: block;
    margin-right: auto;
  }
  ul li { 
  text-align:center; list-style-position:inside; 
}
body {
    cursor: url('https://i.imgur.com/5FleeMh.png'), auto;
}
hr {
    height: 1px;
    background-color: black;
    border: none;
  }